.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  height: 100vh;
  background-color: #f0f0f0;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 4rem;
  border-radius: 2rem;
}

.login__title {
  font-size: 2rem;
  font-weight: 600;
  color: black;
}
